<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/ionic.min.css" />
</head>
<body>

	<div ui-view></div>
	<base href="/" />

	<script type="text/javascript" src="/js/ionic.bundle.min.js"></script>
	<script type="text/javascript" src="/module/module.js"></script>
	<script type="text/javascript" src="/routes/routes.js"></script>
	<script type="text/javascript" src="/controller/rootController.js"></script>
</body>
</html>