<ion-header-bar class="bar-assertive item-input-inset">
  <label class="item-input-wrapper light-bg">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</ion-header-bar>
<ion-content class="home">
	<div class="row row-wrap">
		<div class="col col-50" ng-repeat="item in data">
			<div class="pro-bg" ng-click="goPage('details',{id:item.pid});">
				<div>
					<img class="full-image" ng-src="{{item.imgUrl}}" />
				</div>
				<div class="pro-info text-center">
					<p class="fl padding-horizontal">{{item.name}}</p>
					<p class="fr padding-horizontal assertive"><span>￥</span><span>{{item.price}}</span></p>
				</div>
				<div>
					<p class="pro-desc">{{item.desc}}</p>
				</div>
			</div>
		</div>
	</div>
</ion-content>