<ion-header-bar class="bar-assertive">
	<button class="button icon ion-ios-arrow-left button-clear" ng-click="goBack();"></button>
	<span class="title">结算</span>
</ion-header-bar>
<ion-content class="settle padding-horizontal">
	<ion-list class="card">
		<ion-item class="item-body" >
			<img class="full-image" ng-src="/images/home_img_1@2x.png" />
			<div class="pro-info">
				<div class="row text-center">
					<p class="col-33"><span>商品:</span><span>2</span></p>
					<p class="col-33"><span>价格:</span><span>3</span></p>
					<p class="col-33"><span>数量:</span><span>4</span></p>
				</div>
			</div>
			<div class="address padding-bottom">
				<p class="fl">某人</p>
				<p class="fr">联系方式</p>
				<p class="ad">地址</p>
			</div>
		</ion-item>
	</ion-list>	
</ion-content>

<ion-footer-bar class="bar-stable">
	<div class="button button-clear">
		<span class="assertive">总金额</span>
	</div>
	<div class="button button-assertive">结算</div>
</ion-footer-bar>
